.block {
  margin: 17px 0 0 0;
  .inputBlock{
    position: relative;
    &:after{
      position: absolute;
      top: 47px;
      left: 0;
      content: '';
      width: 100%;
      border-bottom: 1px solid black;
      background: #000000;
      opacity: 0.2;
    }
    .nickname{
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #000000;
      opacity: 0.5;
    }
    input{
      border: none;
      outline: none;
    }
    button {
      width: 52px;
      height: 24px;
      margin: 0;
      background: #366EFF;
      border-radius: 2px;
      color: #FFFFFF;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
    }
  }
  span{
    display: flex;
    align-items: center;
    img{
      color: black;
      margin-left: 5px;
    }
  }
}