.btn {
  box-sizing: border-box;
  z-index: 1;
  font-weight: 500;
  min-width: 120px;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  line-height: 1;
  height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:hover, &:focus {
    color: white;
    outline: 0;
  }
}

.buttonDef {
  border-color: #366EFF;
  color: white;
  box-shadow: 0 0 40px 40px #366EFF inset, 0 0 0 0 #366EFF;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #366EFF inset, 0 0 10px 4px #366EFF;
    color: darkgray;
  }
}

.red {
  border-color: red;
  color: white;
  box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
  }
}

