.container {
  width: 100vh;

  .header {
    .title {

    }

    .close {
      border: none;
      width: 14px;
      height: 14px;
      opacity: 0.2;
      cursor: pointer;
      transition: opacity ease 0.5s;

      &:hover {
        opacity: 1;
      }
    }
  }

}

