@import "../../components/cards/Crads.module.scss";
@import "../../assets/style/mixins";

.btnPack {
  position: absolute;
  @include width-height(184px, 36px);
  right: 136px;
  top: 96px;
  border: none;
  outline: none;
  @include font(normal, 500, 16px, 20px);
  letter-spacing: 0.01em;
  //font-family: 'Montserrat';

  color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  background: #366EFF;
  border-radius: 30px;
  transition: 0.4s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35);

  }
}