@import "../../components/cards/Crads.module.scss";
@import "src/common/style/mixins";

.btnAddPack {
  position: absolute;
  @include width-height(184px, 36px);
  right: 136px;
  top: 96px;
  border: none;
  outline: none;
  @include font(normal, 500, 16px, 20px);
  letter-spacing: 0.01em;
  //font-family: 'Montserrat';

  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  background: #366EFF;
  border-radius: 30px;
  transition: 0.4s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35);

  }
}