.container {
    max-width: 100%;
    box-sizing: border-box;
    margin: 40px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.container span {
    margin: 0 0 8px 0;
}