.container {
    display: flex;
    background-color: #FCFCFC;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25);
    z-index: 9999;
}
.linkNavBar {
    color: black;
    font-size: 10px;
}

.buttonMenu {

}