.bodyBlock {
  display: flex;
  flex-direction: column;
  padding: 35px 24px 0px 24px;

  .titleBlock {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    opacity: 50%;
  }

  .InputBlock {
    border: none;
    border-bottom: 1.58px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 4.43px;
  }

  .selectionBlock {
    display: flex;
    align-items: center;
    margin: 30px 0px 34px 0px;

    .checkbox {
      height: 18px;
      width: 18px;
    }

    .description {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-align: start;
      opacity: 80%;
    }
  }
}