@import "../../../assets/style/mixins";

.container {
  @include width-height(100%, 100%);
  display: flex;
  justify-content: center;
  padding: 120px 0 0 0;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;

  .blockAuth {
    box-sizing: border-box;
    width: 413px;
    padding-right: 33px;
    padding-left: 33px;
    min-height: 552px;
    background-color: #fff;
    border-radius: 2px;


    @media screen and (max-width: 415px) {
      width: 100%;
    }

    & h1 {
      @include font(normal, 600, 26px, 32px);
      margin-bottom: 50px;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;

      .inputForm {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        & input {
          border: none;
          border-bottom: 1.58px solid black;
        }

        & label {
          @include font(normal, 400, 13px, 20px);
          opacity: 0.5;
        }
      }

      .wrapperBtn {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        border-bottom: 1.58px solid black;

        & input {
          z-index: 1;
          width: 100%;
          border: none;
        }

        .password {
          background-image: url("../../../assets/image/display-password.png");
          @include backgroundImg(contain, no-repeat, right);
          opacity: 1;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          width: 18px;
          height: 18px;
        }

        .passwordHidden {
          background-image: url("../../../assets/image/hide_icon_215200.png");
          @include backgroundImg(contain, no-repeat, right);
          opacity: 1;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          width: 18px;
          height: 18px;
        }
      }

      .containerCheckBox {
        margin-bottom: 20px;

        & checkbox {
          @include font(normal, 500, 14px, 17px);
          color: black;
        }
      }

      .forgotLink {
        @include font(normal, 500, 14px, 17px);
        text-align: right;
        color: #000000;
        margin-bottom: 50px;
      }

      .descriptionInfo {
        @include font(normal, 600, 14px, 24px);
        text-align: center;
        margin-top: 20px;
        opacity: 0.5;
      }

      .signUpLink {
        @include font(normal, 600, 16px, 24px);
        text-align: center;
        margin: 20px 0px 20px 0px;
        text-decoration-line: underline;
        color: #366EFF;
      }
    }
  }
}