.container {
    display: flex;
    justify-content: center;
    padding: 60px 0 0 0;
}

.block {
    padding: 35px 33px 42px;
    width: 413px;
    min-height: 360px;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
}