.spanStyle {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border: 1px solid goldenrod;
}

.spanImage {
    display: inline-block;
    align-items: end;
    content: url("refactorIcon.png");
    height: 100%;
    width: 20px;
}
