.block {
  display: flex;

  .btn {
    outline: none;
    border: none;
    background: none;
    transition: 0.5s;
    margin: 0 5px 0 5px;

    &:hover {
      transform: translateY(-4px);
      cursor: pointer;
    }

    .disable {
      opacity: 50%;
    }
  }
}

